.jumbotron {
  padding-top: 8rem;
  background-color: #2f2f2f;
}

#projects {
  background-color: #757679;
}

section {
  padding-top: 5rem;
}

#about {
  background-color: #757679;
}

#skills {
  background-color: #2f2f2f;
}
